@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SharpGrotesk";
    src: url("./fonts/SharpGrotesk-Book20.otf");
}

@font-face {
    font-family: "grotesquemt";
    src: url("./fonts/grotesquemt.otf");
}